<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiupIObrOi69gOX4pTyscEqX-7DNXC7AU</string>
	<key>GCM_SENDER_ID</key>
	<string>763231298158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mock.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mock-13382</string>
	<key>STORAGE_BUCKET</key>
	<string>mock-13382.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763231298158:ios:c2bf227c36c0935fe67c7f</string>
</dict>
</plist>